<div>
<p>我是来自模板1</p>
    <button type="button" class="layui-btn layui-btn-danger">警告按钮</button>
    <button type="button" class="layui-btn layui-btn-disabled">禁用按钮</button>
    <input type="text" name="date" class="layui-input date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
</div>

<script>

    layui.use(['form', 'layedit', 'laydate'], function() {
        var $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        $('.date').each(function(){
            laydate.render({
                elem: this
                ,position: 'fixed'
                ,trigger: 'click'
                ,format: 'yyyy-MM-dd HH:mm'
            });
        });
    });
</script>
