@{
    Layout = null;
}
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>hello nancy @Model</h1>
    <h2>
    </h2>
    </div>
</body>
</html>
