<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <script src="../statics/js/jquery.js"></script>
    <script src="../statics/js/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../statics/js/LoadPage.js"></script>
    <script src="../statics/layui/layui.js"></script>
</head>
<body>
<div id="head">
<p>sds</p>
</div>
<div id="Content">
    <p>sds</p>
</div>
<div id="foot">
    <p>sds</p>
</div>

<!-- 你的HTML代码 -->


<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;

        layer.msg('Hello World');
    });

    //$("#Content").html(/home.html);
    var html=load("/home/home.html");
    $("#Content").html(html);
</script>
</body>
</html>