<!--每个子页面有个class和p-id来区分-->
<div class="Xpage" p-id="test">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询数据</legend>
</fieldset>

<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">单行输入框</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">验证手机</label>
            <div class="layui-input-inline">
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">验证邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">验证日期</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date" class="layui-input date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <button type="button" class="layui-btn layui-btn-danger " p_click="hello('test,info')">警告按钮</button>
</form>
<table class="layui-hide" id="infoTable"></table>
</div>
<script>
    //每个页面私有属性
    var test ={
        name:'sds',
        hello:function (arg) {
            tableIns.reload({
                where:''
                , page: {curr: 1}
            });
        },
        add:function (arg1,arg2) {
            alert("hello"+arg1+":"+arg2);
        },
    };
    layui.use(['form', 'layedit', 'laydate','table'], function() {
        var $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        $('.date').each(function(){
            laydate.render({
                elem: this
                ,position: 'fixed'
                ,trigger: 'click'
                ,format: 'yyyy-MM-dd HH:mm'
            });
        });

        var table = layui.table;
        //表头
        var cols = [[
            { field: 'orgName', title: '所属组织', width: 200, align: 'left' },
            { field: 'uname', title: '用户名', align: 'left', templet: function(d){
                    if (d.checkError){
                        return d.uname + '<span style="color: red;font-size: 10px;">&nbsp;[数据被篡改]</span>';
                    } else {
                        return d.uname;
                    }
                }
            },
            { field: 'realname', title: '真实姓名', width: 200, align: 'left' },
            { field: 'tel', title: '联系电话', width: 200, align: 'left' },
            { field: 'state', title: '状态', width: 100, align: 'center' },
            { title: '操作', width: 260, align: 'center', toolbar: '#toolbar' }
        ]];
        //绘制表格
        tableIns = render_table(table, '#infoTable', 'full-130', '/test/getList',function (data) {
            console.log(data);
            
        }, cols);
        tableIns.reload();
        //监听工具条
        table.on('tool(tinfo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                Delete(data.rid);
            } else if (obj.event === 'edit') {
                Edit(data.rid);
            } else if(obj.event === 'authorize'){
                Authorize(data.rid);
            }
        });
    });
</script>
